<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Message</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <script src="../node_modules/web3/src/index.js"></script>

  </head>
  <body>
    
    <div class="container">
      <fieldset>
        <form action="/" method="post">
          <input name="message" type="text" class="ghost-input" placeholder="Enter a message" required>
          <input type="submit" class="ghost-button" value="Submit">
        </form>
        <br>
        <form action="/getMessage" method="get">
          <input type="submit" class="ghost-button" value="Get Message">
        </form>
        <br>
        <form action="/compile" method="post">
          <input type="submit" class="ghost-button" value="Compile">
        </form>
        <br>
        <form action="/deploy" method="post">
          <input type="submit" class="ghost-button" value="Deploy">
        </form>
      </fieldset>
      <% if(message !== null){ %>
        <p><%= message %></p>
    <% } %>
    </div>
    <script>

        if (typeof web3 !== 'undefined') {
            web3 = new Web3(web3.currentProvider);
        } else {
            // set the provider you want from Web3.providers
            web3 = new Web3(new Web3.providers.HttpProvider("http://localhost:8545"));
        }
console.log(web3.eth.defaultAccount = web3.eth.accounts[0]);
    </script>
  </body>
</html>